image: golang:latest

stages:
  - test
  - build
  - deploy

# -----------------
# 1. TEST STAGE
# -----------------
format:
  stage: test
  script:
    - go fmt $(go list ./... | grep -v /vendor/)
    - go vet $(go list ./... | grep -v /vendor/)
    - go test -race $(go list ./... | grep -v /vendor/)

# -----------------
# 2. BUILD STAGE (Binaries)
# -----------------
compilebsd:
  stage: build
  variables:
    GOOS: freebsd
    GOARCH: amd64
  script:
    - mkdir -p mybinaries/${GOOS}_${GOARCH}
    - go build -o mybinaries/${GOOS}_${GOARCH} ./...
  artifacts:
    paths:
      - mybinaries

compilelinux:
  stage: build
  variables:
    GOOS: linux
    GOARCH: amd64
  script:
    - mkdir -p mybinaries/${GOOS}_${GOARCH}
    - go build -o mybinaries/${GOOS}_${GOARCH} ./...
  artifacts:
    paths:
      - mybinaries

# -----------------
# 3. DEPLOY STAGE (Docker Push)
# -----------------
# ... (Tests and Build stages remain the same) ...

build_and_push_docker:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    # Docker Hub Tag
    HUB_TAG: $DOCKER_HUB_USER/weather-receiver:latest
    # Outpoint Registry Tag
    # Note: We must include the registry hostname in the tag so Docker knows where to push it
    OUTPOINT_TAG: reg.outpointllc.com/john/weather-receiver:latest
  script:
    # --- 1. Build the Image ---
    - docker build -t $HUB_TAG .

    # --- 2. Push to Docker Hub ---
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
    - docker push $HUB_TAG
    - docker logout

    # --- 3. Push to Outpoint Registry ---
    # We retag the existing image with the new registry URL
    - docker tag $HUB_TAG $OUTPOINT_TAG
    
    # Login to the specific private registry host
    - echo "$OUTPOINT_REGISTRY_TOKEN" | docker login reg.outpointllc.com -u "$OUTPOINT_REGISTRY_USER" --password-stdin
    - docker push $OUTPOINT_TAG
    - docker logout reg.outpointllc.com

  only:
    - master
    - main

include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - template: Jobs/SAST.gitlab-ci.yml
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml